

body{ margin: 0;}

/* ! Header */

.header{background: hwb(207 28% 5%); background-image: url(img/pattern.png); height: 100px; background-size: 28%;}
.logo{width: 13%; margin:}

/* ! Main */

main {margin: 10px 10px;}
.mt-0{margin-top: 0;}
.mb-0{margin-bottom: 0;}
ul{padding-left: 10px;}
h1{margin: 1px;}
.testo-azzurro{color: rgb(79, 155, 218);}
.img{margin-top: 30px;}
.bg-azure{background-color: rgb(180, 214, 235); display: inline;}
.bg-yellow{background-color: yellow;}

